body {
    /* background-color: #222; */
    background-color: #101010;
    color: #fff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.container {
    /* max-width: 400px; */
    max-width: 80%;
    /* margin: 30% auto; */
    margin: 10% auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile-pic {
    /* width: 150px; */
    width: 20vw;
    /* height: 150px; */
    height: 20vw;
    border-radius: 50%;
    /* border: #ff8000  solid 1px;
    box-shadow: 0 0 3px #ff8000, 0 0 3px #ff8000, 0 0 3px #ff8000; */
    object-fit: cover;
}

.name {
    /* font-size: 32px; */
    font-size: 5vw;
    font-weight: bold;
    margin-top: 20px;
    text-shadow: 0 0 5px #c3e8e861, 0 0 10px #c3e8e861, 0 0 20px #c3e8e861;
}

.title {
    /* font-size: 24px; */
    font-size: 4vw;
    margin-top: 10px;
    text-shadow: 0 0 2px #c3e8e861, 0 0 4px #c3e8e861, 0 0 10px #c3e8e861;
}

.links {
    margin-top: 30px;
}

.links a {
    display: inline-block;
    /* width: 50px; */
    width: 10vw;
    /* height: 50px; */
    height: 10vw;
    border-radius: 50%;
    background-color: #333;
    color: #fff;
    /* font-size: 24px; */
    font-size: 4vw;
    /* line-height: 50px; */
    line-height: 10vw;
    margin: 10px;
    text-decoration: none;
    /* box-shadow: 0 0 5px #00ffff, 0 0 10px #00ffff, 0 0 20px #00ffff; */
    box-shadow: 0 0 5px #ff8000, 0 0 10px #ff8000, 0 0 20px #ff8000;
    transition: box-shadow 0.3s ease-in-out;
}

.links a:hover {
    background-color: #444;
    /* box-shadow: 0 0 10px #00ffff, 0 0 20px #00ffff, 0 0 40px #00ffff; */
    box-shadow: 0 0 10px #ff8000, 0 0 20px #ff8000, 0 0 40px #ff8000;
}

.logo {
    margin-top: 30px;
}

.logo-img {
    /* width: 80%; */
    width: 68%;
    height: auto;
    filter: drop-shadow(0 0 0.5px white) drop-shadow(0 0 0.5px orange);
}

.footer {
    background-color: #333;
    color: #fff;
    padding: 6px 2%;
    margin-top: auto;
    width: 100%;
}

.footer .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sign,
.copyright {
    /* font-size: 12px; */
    font-size: 2vw;
    margin: 0;
    color: #fff;
    text-decoration: none;
}

.sign a {
    text-decoration: none;
    cursor: pointer;
}

.sign a:hover {
    text-decoration: none;
}



/*  Responsive Design */
@media screen and (max-width: 600px) {
    .container {
        max-width: 400px;
        margin: 20% auto;
    }

    .links {
        margin-top: 50px;
    }

    .logo {
        margin-top: 50px;
    }
}

/* Screens in Portrait Orientation */
@media screen and (orientation: portrait) {
    .container {
        margin: 10% auto;
    }

    .profile-pic {
        width: 40vw;
        height: 40vw;
    }

    .name {
        font-size: 8vw;
    }

    .title {
        font-size: 6vw; 
    }

    .links a {
        width: 16vw;
        height: 16vw;
        font-size: 6vw;
        line-height: 16vw;
    }
}